/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.block {
  margin-bottom: 40px;
}

.code {
  font-weight: bold;
  font-family: monospace;
}
